#list
{
    display: grid;
    grid-template-columns: auto auto auto min-content;
}
#list div
{
    background-color:rgb(226, 226, 226);
    padding:5px;
    border-top: 1px solid;
    border-bottom: 1px solid;
}
#list div:nth-child(8n+1), #list div:nth-child(8n+2), #list div:nth-child(8n+3), #list div:nth-child(8n+4)
{
    background-color:rgb(190, 190, 190);
}#list div:nth-child(1), #list div:nth-child(2), #list div:nth-child(3), #list div:nth-child(4)
{
    background-color:rgb(164, 185, 197);
}

#list div:nth-child(4n-3)
{
    border-left: 1px solid;
}

#list div:nth-child(4n)
{
    border-right: 1px solid;
}
#input_data
{
    
    display: grid;
    grid-template-columns: 150px 200px;
    border: 1px solid;
    width:350px;
    margin-bottom: 20px;
}
#list div button
{
    width:100%;
}

.header
{
    font-weight: bold;
}

#button
{
    grid-column: span 2;
}